body {
  color: white;
}

.streamNtf {
  position: relative;
  display: grid;
  margin: auto;
  top: 50px;
  width: 450px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
}

.userList {
  position: relative;
  display: grid;
  margin: auto;
  top: 100px;
  width: 850px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
}