.loadingIcon {
  animation: blend-in 0.5s ease;
}

@keyframes blend-in {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}