
@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes blend-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  position: relative;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1e24;
  width: 300px;
  height: 70px;
  border-radius: 5px;
  border: 2px solid #1c1e24;
  overflow: hidden;
  animation: slide-up 0.5s ease;
  transition: all 0.25s ease;
}

.container:hover {
  border-color: white;
}

#number {
  position: relative;
  display: inline-block;
  bottom: 5px;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.2);
  user-select: none;
}

#quoteText {
  position: absolute;
  max-width: 300px;
  max-height: 70px;
  bottom: -15px;
  padding: 10px;
  overflow-y: hidden;
  white-space: pre-line;
  width: 270px;
  height: 48px
}

#modalText {
  position: relative;
  text-align: center;
}

#modalTitle {
  position: absolute;
  top: -20px;
  left: 0px;
  right: auto;
  bottom: auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  user-select: none;
  padding: 0px 4px 0px 4px;
}

#closeButton {
  position: absolute;
  right: 5px;
  top: 0px;
  color: rgba(255, 0, 76, 0.664);
}

.ReactModal__Content {
  animation: blend-in 0.25s ease;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  animation: blend-in 0.25s ease;
}

.adminButtons {
  position: absolute;
  bottom: 15px;
  padding: 0px 5px;
}

#removeButton {
  right: 8px;
}

#cancelButton {
  color: red;
  left: 75px;
}

#saveButton {
  color: green;
  left: 20px;
}

#adminMsg {
  text-align: center;
  font-size: small;
  left: 30%;
  bottom: 5px;
}

#editField {
  position: relative;
  top: 18px;
  background-color: #2e313b;
  color: white;
  border: 0px;
  resize: none;
  width: 295px;
  height: 50px;
}