
.container {
  position: relative;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1e24;
  width: 300px;
  height: 70px;
  border-radius: 5px;
  border: 2px solid #1c1e24;
  overflow: hidden;
}

.container:hover {
  border-color: white;
}

#number {
  position: relative;
  display: inline-block;
  bottom: 5px;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.2);
  user-select: none;
}

#quoteText {
  position: absolute;
  max-width: 300px;
  max-height: 70px;
  bottom: -15px;
  padding: 10px;
  overflow-y: hidden;
  white-space: pre-line;
  width: 270px;
  height: 48px
}

#modalText {
  position: relative;
  text-align: center;
}

#modalTitle {
  position: absolute;
  top: -20px;
  left: 0px;
  right: auto;
  bottom: auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  user-select: none;
  padding: 0px 4px 0px 4px;
}

#closeButton {
  position: absolute;
  right: 5px;
  top: -20px;
  color: rgba(255, 0, 76, 0.664);
  width: 30px;
  user-select: none;
}

#closeButton:hover {
  color:  rgba(255, 0, 76, 1);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.adminButtons {
  position: absolute;
  bottom: 15px;
  padding: 0px 5px;
}

#removeButton {
  right: 8px;
}

#cancelButton {
  color: red;
  left: 75px;
}

#saveButton {
  color: green;
  left: 20px;
}

#adminMsg {
  text-align: center;
  font-size: small;
  left: 30%;
  bottom: 5px;
}

#editField {
  background-color: #2e313b;
  color: white;
  border: 0px;
  resize: none;
  width: 295px;
  height: 50px;
}