@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(120px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.MuiContainer-root {
  animation: slide-up 0.5s ease;
}

@media only screen and (max-width: 424px) {
  .MuiContainer-root {
    max-width: 350px;
  }
}